[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
	ignore = untracked
[submodule "bundle/fugitive"]
	path = pack/git/start/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/abolish"]
	path = pack/utils/libs/abolish
	url = git://github.com/tpope/vim-abolish.git
	ignore = untracked
[submodule "bundle/vimshell"]
	path = pack/utils/libs/vimshell
	url = git://github.com/Shougo/vimshell.git
	ignore = untracked
[submodule "bundle/rainbow_parentheses"]
	path = pack/lisps/libs/rainbow_parentheses
	url = git://github.com/eapache/rainbow_parentheses.vim.git
	ignore = untracked
[submodule "bundle/indexedsearch"]
	path = pack/utils/libs/indexedsearch
	url = git://github.com/vim-scripts/IndexedSearch.git
	ignore = untracked
[submodule "bundle/gundo"]
	path = pack/utils/libs/gundo
	url = git://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "bundle/vim-ref"]
	path = pack/utils/libs/vim-ref
	url = git://github.com/thinca/vim-ref.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = pack/utils/libs/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/csapprox"]
	path = pack/utils/libs/csapprox
	url = git://github.com/godlygeek/csapprox.git
	ignore = untracked
[submodule "bundle/tagbar"]
	path = pack/utils/libs/tagbar
	url = git://github.com/majutsushi/tagbar.git
	ignore = untracked
[submodule "bundle/ctrlp"]
	path = pack/utils/libs/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
	ignore = untracked
[submodule "bundle/speeddating"]
	path = pack/utils/libs/speeddating
	url = git://github.com/tpope/vim-speeddating.git
	ignore = untracked
[submodule "bundle/localvimrc"]
	path = pack/utils/libs/localvimrc
	url = git://github.com/embear/vim-localvimrc.git
	ignore = untracked
[submodule "bundle/riv.vim"]
	path = pack/text/libs/riv.vim
	url = git://github.com/Rykka/riv.vim.git
	ignore = untracked
[submodule "bundle/aftersyntaxc"]
	path = pack/misc/libs/aftersyntaxc
	url = git://github.com/kergoth/aftersyntaxc.vim.git
	ignore = untracked
[submodule "bundle/ctrlr.vim"]
	path = pack/utils/libs/ctrlr.vim
	url = git://github.com/goldfeld/ctrlr.vim.git
	ignore = untracked
[submodule "bundle/autotag"]
	path = pack/utils/libs/autotag
	url = git://github.com/vim-scripts/AutoTag.git
	ignore = untracked
[submodule "bundle/golang"]
	path = pack/misc/libs/golang
	url = git://github.com/jnwhiteh/vim-golang.git
	ignore = untracked
[submodule "bundle/vim-eunuch"]
	path = pack/utils/libs/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
	ignore = untracked
[submodule "bundle/vim-javascript"]
	path = pack/javascript/libs/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
	ignore = untracked
[submodule "bundle/unimpaired"]
	path = pack/utils/libs/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "bundle/vim-surround"]
	path = pack/utils/libs/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/scall"]
	path = pack/utils/libs/scall
	url = git://github.com/thinca/vim-scall.git
	ignore = untracked
[submodule "bundle/tern"]
	path = pack/javascript/libs/tern
	url = git://github.com/marijnh/tern_for_vim.git
	ignore = untracked
[submodule "bundle/vim-classpath"]
	path = pack/misc/libs/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
	ignore = untracked
[submodule "bundle/gitv"]
	path = pack/git/start/gitv
	url = git://github.com/gregsexton/gitv.git
	ignore = untracked
[submodule "bundle/vim-clojure-static"]
	path = pack/lisps/libs/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
	ignore = untracked
[submodule "bundle/vimproc"]
	path = pack/utils/libs/vimproc
	url = git://github.com/Shougo/vimproc.git
	ignore = untracked
[submodule "bundle/vim-fireplace"]
	path = pack/lisps/libs/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
	ignore = untracked
[submodule "bundle/tabular"]
	path = pack/utils/libs/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "bundle/vim-repeat"]
	path = pack/utils/libs/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "bundle/scratch.vim"]
	path = pack/utils/libs/scratch.vim
	url = git://github.com/mtth/scratch.vim.git
	ignore = untracked
[submodule "bundle/vim-sexp"]
	path = pack/lisps/libs/vim-sexp
	url = git://github.com/guns/vim-sexp.git
	ignore = untracked
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = pack/lisps/libs/vim-sexp-mappings-for-regular-people
	url = git://github.com/tpope/vim-sexp-mappings-for-regular-people.git
	ignore = untracked
[submodule "bundle/vim-clojure-highlight"]
	path = pack/lisps/libs/vim-clojure-highlight
	url = git://github.com/guns/vim-clojure-highlight.git
	ignore = untracked
[submodule "bundle/matchit"]
	path = pack/utils/libs/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/tsuquyomi"]
	path = pack/javascript/libs/tsuquyomi
	url = git://github.com/Quramy/tsuquyomi.git
	ignore = untracked
[submodule "bundle/jedi-vim"]
	path = pack/python/libs/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
	ignore = untracked
[submodule "bundle/multiple-search"]
	path = pack/utils/libs/multiple-search
	url = git://github.com/vim-scripts/MultipleSearch.git
	ignore = untracked
[submodule "bundle/diffchar"]
	path = pack/utils/libs/diffchar
	url = git://github.com/rickhowe/diffchar.vim.git
	ignore = untracked
[submodule "bundle/scriptease"]
	path = pack/utils/libs/scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "bundle/linediff"]
	path = pack/utils/libs/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/vim-rsi"]
	path = pack/utils/libs/vim-rsi
	url = git://github.com/tpope/vim-rsi.git
[submodule "bundle/commentary"]
	path = pack/utils/libs/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/narrowregion"]
	path = pack/utils/libs/narrowregion
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "bundle/utl"]
	path = pack/utils/libs/utl
	url = git://github.com/vim-scripts/utl.vim.git
[submodule "bundle/ale"]
	path = pack/misc/libs/ale
	url = git://github.com/w0rp/ale.git
[submodule "bundle/vim-table-mode"]
	path = pack/utils/libs/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "bundle/vim-orgmode"]
	path = pack/text/libs/vim-orgmode
	url = git@github.com:jceb/vim-orgmode.git
[submodule "bundle/vim-SyntaxRange"]
	path = pack/utils/libs/vim-SyntaxRange
	url = git@github.com:inkarkat/vim-SyntaxRange.git
[submodule "bundle/ultisnips"]
	path = pack/utils/libs/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/vim-json"]
	path = pack/config/libs/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-yaml"]
	path = pack/config/libs/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "bundle/vim-yaml-folds"]
	path = pack/config/libs/vim-yaml-folds
	url = git@github.com:pedrohdz/vim-yaml-folds.git
[submodule "bundle/coverage-highlight.vim"]
	path = pack/utils/libs/coverage-highlight.vim
	url = git@github.com:mgedmin/coverage-highlight.vim.git
[submodule "bundle/semshi"]
	path = pack/python/libs/semshi
	url = git@github.com:numirias/semshi.git
[submodule "bundle/SimpylFold"]
	path = pack/python/libs/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "bundle/FastFold"]
	path = pack/utils/libs/FastFold
	url = git@github.com:Konfekt/FastFold.git
[submodule "bundle/pythonsense"]
	path = pack/python/libs/pythonsense
	url = git@github.com:jeetsukumaran/vim-pythonsense.git
[submodule "pack/config/libs/vim-hashicorp-tools"]
	path = pack/config/libs/vim-hashicorp-tools
	url = git://github.com/hashivim/vim-hashicorp-tools.git\ngit://github.com/hashivim/vim-hashicorp-tools.git
[submodule "pack/utils/libs/undotree"]
	path = pack/utils/libs/undotree
	url = git://github.com/mbbill/undotree.git\ngit://github.com/mbbill/undotree.git
[submodule "pack/utils/libs/vim-sleuth"]
	path = pack/utils/libs/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git\ngit://github.com/tpope/vim-sleuth.git
[submodule "pack/python/libs/pytest.vim"]
	path = pack/python/libs/pytest.vim
	url = git@github.com:alfredodeza/pytest.vim.git\ngit@github.com:alfredodeza/pytest.vim.git
[submodule "pack/lisps/libs/rainbow"]
	path = pack/lisps/libs/rainbow
	url = git@github.com:luochen1990/rainbow.git\ngit@github.com:luochen1990/rainbow.git
